<div class="container border rounded p-3 mt-5" style="width: 60%">
  <table class="table">
      <thead>
        <tr style="color:#7665c3">
          <th scope="col">User Id</th>
          <th scope="col">ID</th>
          <th scope="col">Title</th>
          <th scope="col">Completed</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let i of todo" class="table-light">
          <th scope="row">{{i.userId}}</th>
          <td>{{i.id}}</td>
          <td>{{i.title}}</td>
          <td>{{i.completed}}</td>
        </tr>
      </tbody>
    </table>
</div>
